   <html>
       <head>
           <title>Video Streaming Demonstration</title>
           <h1>test</h1>
       </head>
       <body>
           <h1>Video Streaming Demonstration</h1>
           <!-- <img src="{% url 'camerafeed' % }}"> -->
             <video width="320" height="240" controls>
                <source src="{% video %}" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
              Your browser does not support the video tag.
              </video> 
       </body>
   </html>